In [128]:
import pandas as pd

In [129]:
df = pd.read_csv("/Users/chanju/github/smussp/6주차/이찬주/서울시 신호등 관련 정보.csv",encoding='CP949')

/Users/chanju/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [155]:
#위도 =111.195km , 경도 88.8km , 2km 박스일 때 반경  1.414
def dis_to_lat(km):
    return km/111.195
def dis_to_lon(km):
    return km/88.8

def lat_to_dis(lat):
    return lat*111.195
def lon_to_dis(lon):
    return lon*88.8

def get_xy(data,lon, lat,km):
    lat_size = dis_to_lat(km)
    lon_size = dis_to_lon(km)
    return data[(data['위도']<=lat+lat_size/2) & (data['위도']>=lat-lat_size/2) &
                 (data['경도']<=lon+lon_size/2) & (data['경도']>=lon-lon_size/2)]

In [130]:
df.head(5)

,부착대관리번호,상태 (공통),부착방식,부착대길이,고가 (공통),부착대방향,신호등수량,배면등수량,신호등종류,배면등종류,...,작업구분 (공통),표출구분 (공통),신규정규화ID,공사관리번호,부착대관리번호.1,이력ID,위치정보,X좌표,Y좌표,공사형태 (공통)
0,03-0000034286,001,003,009,001,195,2,0,003,002,...,4,001,,2004-1101-152,03-034286,88931,,202650.00560,542705.46253,
1,03-0000044336,001,003,011,001,102,3,0,003,002,...,2,001,,2004-1101-152,03-044336,88932,,202714.48048,542715.77569,
2,03-0000044307,001,002,999,001,312,1,0,007,,...,1,002,,2008-0201-006,03-044307,88933,,203129.34784,541838.75856,
3,03-0000048361,001,002,999,001,288,1,0,007,,...,1,002,,2008-0201-006,03-048361,88934,,202976.86616,542798.94598,
4,03-0000015050,001,002,999,001,302,1,0,007,,...,1,002,,2008-0201-006,03-015050,88935,,203026.11371,542800.32686,

In [131]:
df.columns

Index(['부착대관리번호', '상태 (공통)', '부착방식', '부착대길이', '고가 (공통)', '부착대방향', '신호등수량',
       '배면등수량', '신호등종류', '배면등종류', '설치일', '교체일', '지주관리번호', '신호발광구분', '제조회사',
       '작업구분 (공통)', '표출구분 (공통)', '신규정규화ID', '공사관리번호', '부착대관리번호.1', '이력ID',
       '위치정보', 'X좌표', 'Y좌표', '공사형태 (공통)'],
      dtype='object')

In [132]:
df = df.drop(['상태 (공통)', '부착방식', '부착대길이', '고가 (공통)', '부착대방향', '배면등수량',
       '신호등종류', '배면등종류', '설치일', '교체일', '지주관리번호', '신호발광구분', '제조회사', '작업구분 (공통)',
       '표출구분 (공통)', '신규정규화ID', '공사관리번호', '부착대관리번호', '이력ID', '위치정보',
       '공사형태 (공통)','부착대관리번호.1'],axis='columns')

In [133]:
df.head(5)

   신호등수량           X좌표           Y좌표
0      2  202650.00560  542705.46253
1      3  202714.48048  542715.77569
2      1  203129.34784  541838.75856
3      1  202976.86616  542798.94598
4      1  203026.11371  542800.32686

In [135]:
import geopandas as gpd
from shapely.geometry import Point, Polygon, LineString


df['X좌표'] = df['X좌표'].astype(float)
df['Y좌표'] = df['Y좌표'].astype(float)
df['geometry'] = df.apply(lambda row : Point([row['X좌표'], row['Y좌표']]), axis=1)
df = gpd.GeoDataFrame(df, geometry='geometry')

In [136]:
from fiona.crs import from_string

epsg5186 = from_string("+proj=tmerc +lat_0=38 +lon_0=127 +k=1 +x_0=200000 +y_0=600000 +ellps=GRS80 +units=m +no_defs")

In [137]:
df.crs = epsg5186
print(df.crs)

+proj=tmerc +lat_0=38 +lon_0=127 +k=1 +x_0=200000 +y_0=600000 +ellps=GRS80 +units=m +no_defs +type=crs

In [138]:
wgs84 = from_string("+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs")

In [139]:
df = df.to_crs(wgs84)
df["geometry"].head()

0    POINT (127.02996 37.48379)
1    POINT (127.03069 37.48388)
2    POINT (127.03538 37.47598)
3    POINT (127.03366 37.48463)
4    POINT (127.03422 37.48464)
Name: geometry, dtype: geometry

In [140]:
df.head()

   신호등수량           X좌표           Y좌표                    geometry
0      2  202650.00560  542705.46253  POINT (127.02996 37.48379)
1      3  202714.48048  542715.77569  POINT (127.03069 37.48388)
2      1  203129.34784  541838.75856  POINT (127.03538 37.47598)
3      1  202976.86616  542798.94598  POINT (127.03366 37.48463)
4      1  203026.11371  542800.32686  POINT (127.03422 37.48464)

In [161]:
df.iloc[1]['geometry'].x
df2 = pd.DataFrame()
df2['lon'] = df['geometry'].map(lambda t : t.x)
df2['lat'] = df['geometry'].map(lambda t : t.y)
df2['신호등수량'] = df['신호등수량']

In [162]:
df2

               lon        lat  신호등수량
0       127.029962  37.483790      2
1       127.030691  37.483883      3
2       127.035378  37.475980      1
3       127.033658  37.484631      1
4       127.034215  37.484644      1
...            ...        ...    ...
109995  126.818338  37.487184      1
109996  127.070194  37.631123      1
109997  127.057387  37.670952      1
109998  127.058284  37.671118      1
109999  127.029973  37.657915      1

[110000 rows x 3 columns]

In [163]:
df2 = df2.rename({'lat':'위도','lon':'경도'},axis='columns')
df2 = df2[['신호등수량','위도','경도']]

In [170]:
lon =126.955009
lat =37.6027953

tmp1 = get_xy(df2, lon, lat, 2) # return dataframe 
tmp2 = get_xy(df2, lon, lat, 1)

print(tmp1,tmp1['신호등수량'].sum())
print(tmp2,tmp2['신호등수량'].sum())

        신호등수량         위도          경도
386         4  37.599128  126.947608
387         4  37.599128  126.947608
388         4  37.599128  126.947608
700         1  37.610465  126.946898
702         1  37.597023  126.947607
...       ...        ...         ...
108493      4  37.594476  126.946057
108589      2  37.595620  126.948895
109354      2  37.601823  126.961116
109355      2  37.602130  126.961135
109831      1  37.595615  126.948908

[478 rows x 3 columns] 704
        신호등수량         위도          경도
3019        2  37.606869  126.958980
4769        2  37.600049  126.958185
5196        4  37.600815  126.956923
5197        2  37.600815  126.956923
5198        1  37.599976  126.958122
...       ...        ...         ...
106828      1  37.599943  126.957731
107178      1  37.600049  126.958185
107181      2  37.600074  126.957837
107214      1  37.599875  126.957874
107292      1  37.600049  126.958185

[73 rows x 3 columns] 115